.getstarted_page {
  background-color: #000;
  min-height: 100vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  &-content {
    max-height: 768px;
    .title {
      margin-top: 46px;
      font-size: 54px;
      line-height: 150%;
      font-weight: 600;
      text-transform: capitalize;
      @media (max-width: 560px) {
        font-size: 38px;
      }
    }
    button {
      font-family: inherit;
      margin-top: 150px;
      max-width: 388px;
      width: 100%;
      padding: 16px 0;
      background-color: #5efc8d;
      color: #000;
      font-size: 48px;
      line-height: 150%;
      font-weight: 300;
      text-transform: capitalize;
      border-radius: 4px;
      transition: 0.3s;
      @media (max-width: 560px) {
        font-size: 34px;
      }
      &:hover {
        background-color: #fff;
      }
    }
  }
}
