.login_page {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  .login_form-container {
    max-width: 588px;
    width: 100%;
    // max-height: 688px;
    height: 688px;
    background-color: #fff;
    padding: 33px 50px 63px 50px;
    border-radius: 4px;
    @media (max-width: 580px) {
      padding: 33px 25px 63px 25px;
    }
    @media (max-width: 380px) {
      padding: 33px 16px 63px 16px;
    }
    .title {
      font-size: 48px;
      line-height: 150%;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
      @media (max-width: 380px) {
        font-size: 34px;
      }
    }
    .login-form {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      label {
        font-size: 22px;
        line-height: 150%;
        font-weight: 300;
      }

      .user-input {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        .username {
          font-size: 22px;
          line-height: 150%;
          font-weight: 300;
          border: 0;
          outline: none;
          background-color: #e6ebff;
          border-radius: 4px;
          height: 76px;
          padding: 22.5px 24px;
          &::placeholder {
            opacity: 0.2;
          }
          &.notvalid {
            outline: 1px solid red;
          }
        }
      }

      button {
        font-family: inherit;
        border: 0;
        font-size: 32px;
        line-height: 150%;
        font-weight: 300;
        text-transform: capitalize;
        width: 258px;
        height: 66px;
        background-color: #5efc8d;
        border-radius: 4px;
        transition: 0.3s;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
}
